body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #555555;
}

div.jumbotron{
    background-color: #555555;
}

div.container{
    color: #e7e7e7;
}

a {
  color: #00B7FF;
}

footer{
  padding-top: 70px;
    color: #e7e7e7;
}

p,h1,h2,h3{
    color: #e7e7e7;
}



