div.post.btn-group.pull-left(role='group')
    button.btn.btn-primary
        |  Seguimentos  
        span#following.badge= advertisement.nFollows
    button.btn.btn-default
        span.glyphicon.glyphicon-envelope
        |  Comentarios   
        span.badge= advertisement.nComments
    button#comment.btn.btn-default(type="button", advertisementid= advertisement.id, collapsed="false", data-toggle="collapse", data-target="comments", aria-expanded="false", controls="comments")
        span.glyphicon.glyphicon-chevron-down





