extends ../layout

block content
    div(class="jumbotron" )
        div(class="container")
            h1 Chelax-LX
            p Espaço de partilha de anúncios classificados, publicos pelos utilizadores registados na plataforma.
            p
                a(class="btn btn-primary btn-lg", href="/about", role="button") Aprende mais!
