if(advertisement !== undefined)
   block insertComment
       div(id="insertComment", class="blog-header")
           form(method='post', action= '/adds/'+ advertisement.id +'/comment')
               textarea(class="form-control", type="text", rows='4', placeholder="Comentário", name='commentDescription')
               button(class="btn-lg btn-success", type="submit") Comentar
