extends layout

block content
  div.jumbotron
    div.container
        div.col-md-12
            div.error-template
                h2
                    = message  
                    |  - (
                    = error.status
                    | )
            div.error-details
                h3 Lamentos mas não conseguimos encontrar a página!
            div.error-actions
                a.btn.btn-primary.btn-lg(href='/')
                    | Voltar à página inicial  
                    span.glyphicon.glyphicon-home
