extends layout

block content
  div(class="jumbotron")
    div(class="container")
        div(class="col-md-12")
            div(class="error-template")
                h2
                    = message  
                    |  - (
                    = error.status
                    | )
            div(class="error-details")
                h3 Página não encontrada!
            div(class="error-actions")
                a(class="btn btn-primary btn-lg", href='/')
                    | Voltar à página inicial  
                    span(class="glyphicon glyphicon-home")
