doctype html
html(lang='pt')
  head
    title= title
    meta(charset='utf-8', name="viewport", content="width=device-width, initial-scale=1")
    link(rel='styleSheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/resources/jquery-1.11.2.js')
    script(src='/javascripts/resources/bootstrap.min.js')
    style(type='text/css')
    block links
  body
    div(class="wrap")
        div(class="container")
            div(class="navbar navbar-inverse navbar-fixed-top")
              div(class="container")
                div(class="navbar-header")
                  a(href="/", class="navbar-brand")
                    i(class="glyphicon glyphicon-home")
                    b Chelas-LX
                  button(class="navbar-toggle", type="button", data-toggle="collapse", data-target="#navbar-main")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                div(class="navbar-collapse collapse", id="navbar-main")
                  ul(class="nav navbar-nav")
                    li
                      a(href='/adds', role="button")
                        i(class="glyphicon glyphicon-comment")
                        b Anúncios
                    li
                      a(href="/about", role="button")
                        i(class="glyphicon glyphicon-info-sign")
                        b Sobre
                  block session
                    if(!authenticated)
                      form(class="navbar-form navbar-right")
                        a(href="/login", role="button", class="btn btn-success")
                          b Entrar
                      form(class="navbar-form navbar-right")
                        a(href="/authentication", role="button", class="btn btn-primary")
                          b Registar
                    else
                        form(class="navbar-form navbar-right")
                            div(class="dropdown")
                                button(class="btn btn-default dropdown-toggle", type="button", data-toggle="dropdown", aria-expanded="true", id="session-options")
                                    b= user.username + '  '
                                    span(class="caret")
                                ul(class="dropdown-menu", role="menu", aria-labelledby="session-options")
                                    li(role="presentation")
                                        a(href='/dashboard', role="menuitem", tabindex="-1")
                                            span(class="badge")= nNotifications
                                            |   Dashboard
                                    li(class="divider", role="presentation")
                                    li(role="presentation")
                                        a(href='/logout', role="menuitem", tabindex="-1") Sair
        div(class="content")
          block content
        footer
          p(class="text-center")  © 2015 - Rúben Gomes, Homílzio Trovoada e Jurandy Santos
