if(authenticated)
    span#updateAndDelete
        if(advertisement.username == user.username)
            button(id="updateButton", class="btn btn-default", type='button')
                a(class="btn glyphicon glyphicon-cog", href='/adds/'+advertisement.id+'/update', role="button")
            button(id="removeButton", class="btn btn-default", type='button')
                a(class="btn glyphicon glyphicon-remove", href='/adds/'+advertisement.id+'/delete',role='button')

