//
   Created by Rúben Gomes on 27-07-2015.

extends ../layout

block links
   link(rel='stylesheet', href='/stylesheets/signin.css')

block content
    div(class="jumbotron")
        div(id="username",class="container register")
            div(class="form-signin")
                h2(class="form-signin-heading") Qual é o teu username ?
                div(id="username", class="alert alert-danger")
                    span(class="glyphicon glyphicon-remove-circle") Nao existe  o utilizador indicado
                input(id="username", class="form-control", placeholder="Username")
                button(id="verifyUsername", class="btn btn-lg btn-primary btn-block") Verificar
        div(id="response", class="container register")
            div(class="form-signin")
                h2(class="form-signin-heading") Responde a pergunta:
                div(id="response", class="alert alert-danger")
                    span(class="glyphicon glyphicon-remove-circle")  A resposta esta incorrecta
                h3(id="question", class="form-control-static")
                input(id="response", class="form-control",placeholder="Resposta")
                button(id="verifyResponse", class="btn btn-lg btn-primary btn-block") Responder
        div(id="password", class="container register")
            div(class="form-signin")
                h2(class="form-signin-heading") Password nova:
                div(id="password", class="alert alert-danger")
                    span(class="glyphicon glyphicon-remove-circle")  As passwords nao coincidem
                input(id="password", class="form-control", placeholder="Password" type="password")
                input(id="password2", class="form-control", placeholder="Confirmar Password" type="password")
                button(id="verifyPassword", class="btn btn-lg btn-primary btn-block") Alterar
        div(id="result", class="modal fade")
            div(class="modal-dialog")
                div(class="modal-content")
                    div(class="modal-header")
                        button(class="close", type="button", data-dismiss="modal", aria-label="Close")
                        h4(class="modal-title") Resultado da alteracao da password:
                    div(class="modal-body")
                        p(id="resultContent")
                    div(class="modal-footer")
                        button(class="btn btn-default", type="button", data-dismiss="modal") Close

    //add javaScript to do core off buttons script(src='...')