//
   Created by Rúben Gomes on 27-07-2015.

extends ../layout
block links
    link(rel='stylesheet', href='/stylesheets/signin.css')

block content
    div(class="jumbotron")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    h1(class="text-left no-margin-top")
                        div(class="margin-center") Chelas-LX
                        p(class="hidden-xs margin-center") O melhor site para pesquisa e introdução dos teus anúncios!
                    div(class="search")
                        form(method='get', role='form', action="/adds/page/1",)
                            div(class="row")
                                div(class="col-md-4")
                                    input(class="form-control input-lg", type='text', placeholder='O que procura?', name='title')
                                div(class="col-md-3")
                                    input(class="form-control input-lg", type='text', placeholder='categoria?', name='category')
                                div(class="col-md-3")
                                    input(class="form-control input-lg", type='text', placeholder='localidade?', name='city')
                                div(class="col-md-2")
                                    button(class="btn-lg btn btn-shadow btn-primary col-xs-12", type='submit') Pesquisar
                    hr
                    br
            div(class="row")
                div(class="col-md-12")
                if(advertisements !== undefined && advertisements.length !== 0)
                    each advertisement in advertisements
                        a(href='/adds/'+ advertisement.id, role="button")
                            include advertisementInList
            div(class="container register")
                form(class="form-signin", method='post', action='/adds',enctype="multipart/form-data")
                    h2(class="form-signin-heading") Inserir um novo Anúncio.
                        if(failAdd != undefined && failAdd)
                            div.alert.alert-danger
                                span.glyphicon.glyphicon-remove-circle(aria-hiden='true')= message
                        else
                            div(class="alert alert-success")
                                span(class="glyphicon-glyphicon-success-circle", aria-hiden="true")= message
                        input(class="form-control",type='text', placeholder='Titulo', name='title', maxlength='64', required='true')
                        input(class="form-control", type="text", placeholder='País', name='country')
                        p
                        textarea.form-control(rows='4', placeholder='Descrição', name='description')
                        br
                        input(class="form-control", type="file", name='userPhoto')
                        button.btn-lg.btn-primary.pull-right(type='submit') Inserir
            div(class="row")
                ul(class="pagination pagination pull-right")
                    - var n = 1
                    while (n <= nPages)
                        if (currentPage == n)
                            li.active
                                a= n++
                        else
                            li
                                a(href='/adds/page/'+n)= n++