//
   Created by Ruben Gomes on 26/07/2015.

extends ../layout

block content
   div(class="jumbotron" aria-expanded="true")
      div(class="container")
         h1 Sobre
      div(class="container")
         div(class="row")
            div(class="col-md-6 ")
               p(class="text-center")
                  a(class="btn-lg",role="button") Anúncio
               p.
                  Um Anúncio tem um título com o máximo de 64 carácteres, preço, descrição, categoria e localização (cidade), obrigatórias e,
                  opcionalmente,um conjunto de fotos do artigo a vender.
            div(class="col-md-6")
               p(class="text-center")
                  a(class="btn-lg text-center",role="button") Utilizador
               p.
                  Consegue visualizar todos os anúncios de forma paginada, comentar um anúncio, atribuir uma clasificação a um utilizador registado (vendedor),
                  comentar um anúncio , classificar um anúncio como favorito e receber notificações sempre que esta tiver atividade, visualizar uma lista de anúncios publicados
                  e consultar um dashboard com a lista de anúncios favoritos e ter indicação de quais tiveram atividade sem que as tenha consultado.

