//
   Created by Ruben Gomes on 26/07/2015.
extends ../layout

block links
   link(rel='stylesheet', href='/stylesheets/signin.css')

block content
   div(class="container signin")
      form(class="form-signin", method='post', action='/login')
         h2(class="form-signin-heading") Bem-Vindo
         if(message != undefined && message.length>0)
            if(success != undefined && success)
               div(class="alert alert-success")
                  span(class="glyphicon-glyphicon-ok-circle")= message
            else
               div(class="alert alert-danger")
                  span(class="glyphicon-glyphicon-remove-circle")= message
         input(id="username", class="form-control", type="text", placeholder="Username", name='username', autofocus="true")
         input(id="password", class="form-control", type="password", placeholder="Password", name='password')
         div(class="checkbox")
            label
               input(type="checkbox", value ="remember-me")
               text Lembrar-me
         button(class="btn btn-lg btn-primary btn-block", type="submit") Entrar
         div(class="pass")
            a(href='/forgotPass') Esqueceste-te da password?